# Avoid codeowners only for cherry-pick pull requests
CODEOWNERS.source_branch_exclusion_pattern cherry-pick/**

@@@MatterCSA @jumartin @jepenven @ricasall @makardou @selissia
@@@MatterWatt @jumartin @jepenven @ricasall @makardou @selissia @rerasool
@@@MatterWifi @mamehta
@@@Documentation @wehale @caowens @rerasool
@@@Unify @anesbens @dejensen @thbowley @dewassie @svradema @jsolesen
@@@CICD @gbash @yushu @shmakdis @jepenven
@@@MatterGSDK @selissia @ricasall @mirupp @curahman @huelsher

# Pipeline rule
Jenkinsfile @@MatterWatt @@CICD
silabs_ci_scripts/ @@MatterWatt @@CICD

# Documentation is everyone business
**/*.md @@Documentation

# Shared folder with CSA
build/ @@MatterGSDK
build_overrides/ @@MatterGSDK
config/ @@MatterGSDK
credentials/ @@MatterGSDK
docs/ @@MatterGSDK
examples/ @@MatterGSDK
integrations/ @@MatterGSDK
scripts/ @@MatterGSDK
src/ @@MatterGSDK
third_party/ @@MatterGSDK
zzz_generated/ @@MatterGSDK


silabs_examples/ @@MatterWatt @@MatterWifi

silabs_examples/unify-matter-bridge/ @@Unify

CODEOWNERS               @@MatterWatt



# If a group is involved, at least one reviewer of the group must approve
(Check(@@MatterGSDK >= 1))

OverallCheck(1)
